<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formularios</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/uikit.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/uikit.js"></script>
    <script src="/js/uikit-icons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>


<!-- NOTIFICACION -->
{{#if mensaje}}
<script>
    UIkit.notification({message: '{{ mensaje }}', status: 'success'})
</script>
{{/if}}
<script>
    var mensaje = getUrlParameter('mensaje');
    var tipoMensaje = getUrlParameter('tipoMensaje');
    console.log(mensaje);
    console.log(tipoMensaje);

    if ( mensaje != ""){
        if (tipoMensaje == "" ){
            tipoMensaje = 'primary';
        }
        UIkit.notification({message: mensaje, status: tipoMensaje})
    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' :
            decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>

<header class="uk-box-shadow-small">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar" data-uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">Formularios</a>
            </div>

            <div class="uk-navbar-right">
                <!-- uk-visible@m Lo visualiza en pantallas más pequeñas de m-->
                <ul class="uk-navbar-nav uk-visible@l">
                    <div class="uk-navbar-item">
                        <li>
                            <a href="/formularios/favoritos" class="uk-button uk-button-default uk-visible@l">
                                <span data-uk-icon="heart"
                                      class="uk-margin-small-right">
                                </span>Formularios Favoritos
                            </a>
                        </li>
                    </div>
                    <div class="uk-navbar-item">
                        <li>
                            <a href="/formularios/publicos" class="uk-button uk-button-default uk-visible@l">
                                <span data-uk-icon="thumbnails"
                                      class="uk-margin-small-right">
                                </span>Formularios Públicos
                            </a>
                        </li>
                    </div>
                    <div class="uk-navbar-item">
                        <li>
                            <a href="/formularios/propios" class="uk-button uk-button-default uk-visible@l">
                                <span data-uk-icon="list"
                                      class="uk-margin-small-right">
                                </span>Mis Formularios
                            </a>
                        </li>
                    </div>
                </ul>
                <div class="uk-navbar-item">
                    <a href="/formularios/crear" class="uk-button uk-button-primary uk-visible@l">
                        <span data-uk-icon="plus-circle"
                              class="uk-margin-small-right">
                        </span>Crear Formulario
                    </a>
                </div>

                {{#if usuarioAutenticado}}
                <div class="uk-navbar-item">
                    <div id="usuario-conectado">
                        <span data-uk-icon="user"></span> {{usuarioAutenticado}}
                    </div>
                </div>
                <div class="uk-navbar-item">
                    <a href="/desconectarse"
                       class="uk-button uk-button-default uk-visible@l">
                        <span data-uk-icon="sign-in"
                              class="uk-margin-small-right">
                        </span>Desconectarse
                    </a>
                </div>
                {{else}}
                <div class="uk-navbar-item">
                    <a href="/login"
                       class="uk-button uk-button-default uk-visible@l">
                        <span data-uk-icon="sign-in"
                              class="uk-margin-small-right">
                        </span>Acceder
                    </a>
                </div>
                {{/if}}

                <!-- Menú de movil lo oculta en pantallas mayores de m-->
                <div class="uk-navbar-item uk-hidden@l">
                    <a class="uk-navbar-toggle"
                       data-uk-toggle data-uk-navbar-toggle-icon
                       href="#offcanvas-nav">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- Menú para movil - offCanvas -->
<div id="offcanvas-nav"
     data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-nav-header">Menu</li>
            <li>
                <a href="/formularios/favoritos">
                    <span data-uk-icon="icon: heart" class="uk-margin-small-right uk-icon"></span>
                    Formularios Favoritos
                </a>
            </li>
            <li>
                <a href="/formularios/publicos">
                    <span data-uk-icon="icon: thumbnails" class="uk-margin-small-right uk-icon"></span>
                    Formularios Públicos
                </a>
            </li>
            <li>
                <a href="/formularios/propios">
                    <span data-uk-icon="icon: list" class="uk-margin-small-right uk-icon"></span>
                    Mis Formularios
                </a>
            </li>
            <li>
                <a href="/formularios/crear">
                    <span data-uk-icon="icon: plus-circle" class="uk-margin-small-right uk-icon"></span>
                    Crear Formulario
                </a>
            </li>
            {{#if usuarioAutenticado}}
            <li>
                <a href="/desconectarse">
                    <span data-uk-icon="icon: sign-in" class="uk-margin-small-right uk-icon"></span>
                    Desconectarse
                </a>
            </li>
            {{else}}
            <li>
                <a href="/login">
                    <span data-uk-icon="icon: sign-in" class="uk-margin-small-right uk-icon"></span>
                    Acceder
                </a>
            </li>
            {{/if}}
        </ul>
    </div>
</div>

    <div class="site">
        <main class="site-content">
            {{{content}}}
        </main>
        <div class="footer">
            <p>Copyright 2019 - Todos los derechos.</p>
        </div>
    </div>
</body>
</html>
