<section class="uk-section">
    <div class="uk-container">

        {{#if (empty formularios)}}
        <div class="uk-card uk-card-default uk-card-body uk-align-center">
            <p class = "uk-text-lead uk-text-center" >No se ha encontrado resultados para su busqueda</p>
            <img class = "uk-align-center" src="/images/lupa.png" alt="Lupa">
        </div>
        {{else}}
        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-width-1-6">
            {{#if (equals resultados "1")}}
            <p class="uk-text-meta">{{resultados}} formulario favorito</p>
            {{else}}
            <p class="uk-text-meta">{{resultados}} formularios favoritos</p>
            {{/if}}
        </div>
        <div class="uk-grid-small uk-child-width-expand@m uk-grid-small" uk-grid>
            {{#each formularios}}
            <div class="dashboard">
                <form method="post" action="/formularios/favoritos/delete/{{ _id }}">
                    <button type="submit" class="heart fav" uk-tooltip="Eliminar de favoritos"></button>
                </form>
                <a class="uk-link-toggle" href="/formularios/{{ _id }}/responder">
                    <div>
                        <h3>{{ titulo }}</h3>
                        <hr>
                        <div>
                            <p>Creado por {{ usuario }}</p>
                        </div>
                        <hr>
                        <div>
                            <p>{{ descripcion }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        {{/if}}

    </div>

    <ul id="pages" class="uk-pagination uk-flex-center" uk-margin>
        {{#each paginas}}

        <li class="{{ clase }}">
            <a href="/formularios/favoritos?pg={{valor}}">{{valor}}</a>
        </li>

        {{/each}}
    </ul>
</section>
<script src="/js/heart.js"></script>
<script>
    var url = document.URL;
    if (url.includes("pg=")){
        var lis  = document.getElementById('pages');
        var elements = lis.children;
        for (let i=0; i<elements.length; i++){
            var text = elements[i].children;
            if (text[0].textContent == url.substr(url.length - 1)){
                text[0].style.fontWeight = "bold"
            }
        }
    } else {
        var lis  = document.getElementById('pages');
        var elements = lis.children;
        var text = elements[0].children;
        text[0].style.fontWeight = "bold"
    }
</script>
